$evenhandlers-color: rgb(42, 101, 61);
$topbar-color: #121016;
$sidebar-color: #19171d;
$mainpage-color: #1a1d21;
$text-color: #d1d7e0;
$text-area: rgb(34, 37, 41);
$font-style: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

//45 Accent Colors That Pop  https://visme.co/blog/website-color-schemes/
