$evenhandlers-color: #802bb1;
$topbar-color: #121016;
$sidebar-color: #19171d;
$mainpage-color: #1a1d21;
$text-color: #d1d7e0;

//45 Accent Colors That Pop  https://visme.co/blog/website-color-schemes/
