$evenhandlers-color: #802bb1; //elements that has eventhandlers
$mainpage-color: #2d283e; //message history and text area
$topbar-color: #564f6f; //top bar
$sidebar-color: #4c495d; //sidebar
$text-color: #d1d7e0; //font text

//45 Accent Colors That Pop  https://visme.co/blog/website-color-schemes/
