@import "../../Sass//main.scss";
@import "../../Sass/variables";

.topbarcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  position: sticky;
}
.logo {
  width: 30px;
  display: inherit;
  align-items: center;
  p {
    color: $evenhandlers-color;
    font-family: "Major Mono Display", monospace;
    padding: 10px;
    font-size: 20px;
  }
}
.navbar {
  background-color: transparent;

  font-size: 14px;
  width: 70%;
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.li {
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: $font-style;
  font-size: 12px;
}

.li:not(:last-child):hover {
  transform: scale(1.1);
  cursor: pointer;
  color: $evenhandlers-color;
  font-weight: bold;
}

.button {
  font-family: "Patrick Hand", cursive;
  border-radius: 4px;
  appearance: none;
  background-color: $text-color;
  border-width: 1px;
  color: $evenhandlers-color;
  cursor: pointer;
  padding: 0.5em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:before {
  border-radius: 4px;
  color: $text-color;
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: $evenhandlers-color;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "Try for FREE";
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  padding: 5px;
}

.button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
