@import "../../Sass/main.scss";
@import "../../Sass/variables";

.contain {
  display: block;
  font-family: $font-style;
}
.formtextarea {
  width: 98%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 15px;
}
.textarea {
  width: 92%;
  overflow-y: hidden;
  background-color: $text-area;
  color: $text-color;
  border-radius: 4px;
  resize: none;
}

.textarea:focus::placeholder {
  color: transparent;
}

.button {
  background-color: $evenhandlers-color;
  border-radius: 8px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
#i {
  color: $mainpage-color;
  font-size: 24px;
}
