@import "../../Sass/variables";
@import "../../Sass/main.scss";

.contain {
  padding-left: 15px;
  width: 100%;
  height: auto;
  color: $text-color;
  font-family: $font-style;
  display: grid;
  grid-template-columns: 1fr 30fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "pic sendertime"
    "pic message";
  grid-column-gap: 8px;
}

.contain:hover {
  background-color: rgb(39, 36, 44);
}
.imgcontain {
  padding-top: 5px;
  grid-area: pic;
  width: 35px;
  justify-self: center;
  float: inline-start;
}

.sendertime {
  padding-top: 5px;
  grid-area: sendertime;
  display: flex;
  float: inline-start;
}
.sender {
  font-weight: bold;
  font-size: 15px;
}

.ttime {
  font-size: 12px;
  padding-left: 6px;
  opacity: 0.5;
}

.sender:hover,
.ttime:hover {
  text-decoration: underline;
  cursor: pointer;
}
.ddate {
  font-size: 13px;
}

.textmessage {
  font-size: 15px;
  width: 50%;
  overflow-wrap: break-word;
  cursor: auto;
}
