@import "../../Sass/main.scss";
@import "../../Sass/variables";

.contain {
  width: 100%;
  display: flex;
  font-family: $font-style;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 0;
}
.channellist {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.channellist:hover {
  background-color: rgb(39, 36, 44);
}

.channellist:active,
.itemchannel:active,
.button:active {
  color: white;
  background-color: rgb(17, 100, 163);
  opacity: 1;
}

.itemchannel {
  display: flex;
  align-items: center;
  padding-left: 30px;
  opacity: 0.5;
}

.button {
  background-color: transparent;
  border: none;
  outline: 0;
  color: white;
  cursor: pointer;
  opacity: 0.5;
  justify-self: flex-end;
}

.button:hover {
  opacity: 1;
}
