@import "../../Sass/variables";
@import "../../Sass/main.scss";

.contain {
  width: 100%;
  display: flex;
  background-color: transparent;
  padding-left: 15px;
  justify-content: space-between;
  align-items: center;
  font-family: $font-style;
}

.contain:hover {
  cursor: pointer;
  background-color: rgb(39, 36, 44);
}

.textcompany {
  color: $text-color;
  font-size: 16px;
}

#write {
  font-size: 35px;
  padding-right: 15px;
  opacity: 0.8;
}

#write:hover {
  color: $evenhandlers-color;
  opacity: 1;
  transform: scale(1.1);
}
