@import "../../Sass/main.scss";
@import "../../Sass/variables";

.contain {
  display: flex;
  width: 99%;
  height: 100%;
  align-items: center;
  justify-content: end;
}

.question {
  width: 1%;
}
.logocontain {
  margin: 0 1% 0 1%;
  width: 2%;
  border-radius: 8px;
}

.username {
  padding: 2px;
  border-radius: 4px;
  background-color: $evenhandlers-color;
  color: $topbar-color;
  opacity: 0.5;
}

.username:hover {
  opacity: 1;
  cursor: pointer;
}
