@import "../../Sass//main.scss";
@import "../../Sass/variables";

.logincontainer {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-style;
}
.mat {
  color: $evenhandlers-color;
}
.logo {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: $evenhandlers-color;
    font-family: "Major Mono Display", monospace;
    padding: 10px;
    font-size: 40px;
  }
}
h1,
h3,
h6 {
  color: black;
}
h6 {
  opacity: 0.5;
  margin-left: 160px;
}
h6:hover {
  opacity: 1;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 0.75em;
}
.inputicon {
  display: flex;
  align-items: center;
  padding: 5px;
}
#icons {
  padding: 12px;
  background: $evenhandlers-color;
  color: white;
  text-align: center;
  outline: none;
  border-radius: 4px 0px 0px 4px;
}

.inputfield {
  padding: 10px;
  outline: none;
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}

.inputfield:focus {
  border: 2px solid $evenhandlers-color;
}

#eye {
  position: relative;
  right: 40px;
  cursor: pointer;
}

.button {
  top: 20px;
  font-family: "Patrick Hand", cursive;
  border-radius: 4px;
  appearance: none;
  background-color: $text-color;
  border-width: 1px;
  color: $evenhandlers-color;
  cursor: pointer;
  padding: 0.5em 6.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:before {
  border-radius: 4px;
  color: $text-color;
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: $evenhandlers-color;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "SIGN IN";
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  padding: 5px;
}

.button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
